<h1>餐廳後台</h1>

  <a href='/admin/restaurants'>Restaurants</a> | 
  <a href='/admin/categories'>Categories</a> | 
  <a href='/admin/users'>Users</a>
<br/>
<br/>

<a href='/admin/restaurants/create'>
  <button type="button" class="btn btn-primary">New Restaurant</button>
</a>

<br/>
<br/>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each restaurants.rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.Category.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a href="/admin/restaurants/{{this.id}}">
          Show
          </a>
        </button>
        <button type="button" class="btn btn-link">
          <a href="/admin/restaurants/{{this.id}}/edit">
            Edit
          </a>
        </button>
        <form action="/admin/restaurants/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a href="/admin/restaurants?page={{prev}}" class="page-link">
          <span aria-hidden="true">«</span>
        </a>
      </li>
      {{#each totalPage}}
      {{#ifCond this ../page}}
      <li class="page-item active">
        <a href="#" class="page-link">{{this}}</a>
      </li>
      {{else}}
      <li class="page-item">
        <a href="/admin/restaurants?page={{this}}" class="page-link">{{this}}</a>
      </li>
      {{/ifCond}}
      {{/each}}
      <li class="page-item">
        <a href="/admin/restaurants?page={{next}}" class="page-link">
          <span aria-hidden="true">»</span>
        </a>
      </li>
    </ul>
  </nav>