<h1>餐廳後台</h1>
<br/>
  <a href='/admin/restaurants'>Restaurants</a> | 
  <a href='/admin/categories'>Categories</a> | 
  <a href='/admin/users'>Users</a>
<br/>
<br/>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users.rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.email}}</td>
      {{#if isAdmin}}
      <td>admin</td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">set as user</button>
        </form>
      </td>
      {{else}}
      <td>user</td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">set as admin</button>
        </form>
      </td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>

<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a href="/admin/users?page={{prev}}"><span aria-hidden="true" class="page-link">«</span></a>
    </li>
    {{#each totalPage}}
    {{#ifCond this ../page}}
    <li class="page-item active">
      <a href="#" class="page-link active">{{this}}</a>
    </li>
    {{else}}
    <li class="page-item">
      <a href="/admin/users?page={{this}}" class="page-link">{{this}}</a>
    </li>
    {{/ifCond}}
    {{/each}}
    <li class="page-item">
      <a href="/admin/users?page={{next}}" class="page-link"><span aria-hidden="true">»</span></a>
    </li>

    
  </ul>
</nav>